*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
.body{
  height: 100%;
  width: 100%;
}
button{
  padding: 20px 20px;
  margin: 40px;
  font-size: 20px;
  border-radius: 10px;
  background: #bd6464;
  width:100px;
}
h1{
  margin: 30px;
  font-size: 50px;
  background: #c0bbbb;
  width: fit-content;
  padding: 20px 30px;
  border-radius: 8px;
  height: 300px;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}