*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  color:white;
}
html,
body{
  width: 100%;
  height: 100%;
}
body{
  background-color: black;
}
h1{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size : 50px;
  text-decoration:underline;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background: #6227c0;

}
.nav div{
  display: flex;
  align-items: center;
  gap:40px;
}