*{
    margin: opx;
    padding:0px;
   
    
}
html,
.body{
   background-color: rgb(10, 10, 10);
   margin: 10px;
   padding: 5px;

}

.card{ 
    background-color: yellowgreen;
    margin: 20px;
    padding: 15px;
    border-radius:10px

}
.navbar{
    background-color: brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    
}