*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
}
.nav{
  display: flex;
 background-color: #6d4646;
 padding: 10px 30px;
 align-items: center;
 justify-content: space-between;
 gap:20px;
}